<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error</title>
    <link href="/css/error.css" type="text/css" rel="stylesheet" />
</head>
<body>
<div class="wrapper">
    <div class="box">
        <h1>500</h1>
        <p th:text="#{msg.error500}">Sorry, it's me, not you.</p>
        <p>&#58;&#40;</p>
        <p ><a href="/" th:text="#{msg.errordirect}">Let me try again!</a></p>
    </div>
</div>
</body>
</html>